<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.ResumeDao">
    <insert id="addResume" parameterType="Resume">
        insert into
        resumes(name,sex,age,education,contact,email,
        job,face,work,experience,salary,hobby)
        values(#{name},#{sex},#{age},#{education},#{contact},#{email},
        #{job},#{face},#{work},#{experience},#{salary},#{hobby})
    </insert>
</mapper>